# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/
web-build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Native build folders
android/
ios/

# Temporary files
*.tmp
*.temp